.body{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    appearance: none; /* Remove default styling in some browsers */
    -webkit-appearance: none; /* Remove default styling in WebKit browsers */
    -moz-appearance: none; /* Remove default styling in Firefox */
    background-color: rgb(76, 30, 79, 1);
}
.intro{
    display: block;
    text-align: justify;
    margin: auto;
    font-size: 40px;
    color:antiquewhite;
    padding: 5%;
    margin-bottom: 5%;
    margin-top: 2%;
    

}

#map{
    position: relative;
    height: 100vh;
    width: 100%;
    border: 3px solid rgb(254, 254, 254);
    margin-left: 0rem;
    margin-top: 0;
    border-radius: 10px;
    
    
    
}
.header{
    position: relative;
    display: flex;
    width: 100%;
    width: 100%;
   
    
    font-size: 40px;
    text-align: right;
    border: 3px solid rgb(255, 255, 255);
    border-radius: 10px;
  margin-bottom: auto;

  
 
    
}

.headerText{
    display: flex;
    justify-content: center;
    align-items: center;
    
    margin-left: auto;
    text-align: right;
    padding-bottom: 2%;
    
    margin-top: 3%;
    color:antiquewhite;
    text-transform: uppercase;
}
.Firstpagelinks {
   font-weight: 800;
}

.mapDispaly{
    display: flex;
    margin-left: auto;
    float: right;
    margin-bottom: 0;
    font-size: 30px;
   align-self:right;
   margin-right: 3%;
   height: 2%;
   background-color: rgb(76, 30, 79, 1);
   border-color: black;
   padding: auto;
   margin-top: 4%;
   border-width: 2px;
   font-weight: 500;
   padding-top: 2px;
   color: antiquewhite;
}


.logo{
    display: inline-block;
    justify-content: flex-start;
    
    width: 14rem;
    height: 7rem;
    padding-right: 0;
    margin-right: auto;
    margin-top: 2%;
padding: 0;
object-fit:cover;
vertical-align: bottom;
display: none;

}
    
.container{


vertical-align: top;   
text-align:left;
  
padding:0rem;
padding-top: 1vh;
padding-left: 0rem;
padding-right: 0rem;
margin-bottom: 0;
display: none;


font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.buttons {
    position: absolute; /* Ensure buttons are positioned relative to the map container */
    top: 40%; /* Adjust the top distance as needed */
    left: 30px; /* Adjust the left distance as needed */
    z-index: 1000; /* Ensure buttons are above the map */
    display: flex; /* Use flexbox for alignment if needed */
    flex-direction: column; /* Stack buttons vertically */
    gap: 10px; /* Add space between buttons */
    width: 25%;
   
}
.hos{

padding-left: 1rem;
padding-right: 1rem;

margin-bottom: 1%;
font-size:  1.5rem;
text-transform: uppercase;
border: 3px solid rgb(9, 9, 9);

font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
transition: 1s;
background-color: antiquewhite;
border-radius: 10px;
width: 50vh;
}
.hos:hover, .hos:active{
    background-color: rgba(91, 89, 229, 0.904);
    color: white;
    border: 3px solid black;
    box-shadow: 4px 4px rgba(44, 41, 219, 0.904);
    transition: 1s;
}


.ER{

width: 50vh;
padding-left: 1rem;
padding-right: 0;
border: none;
margin: top 0;;
margin-bottom: 1%;
font-size: 1.2rem;
text-align: center;
text-transform: uppercase;
transition:1s;
background-color: antiquewhite;
border: 3px solid rgb(9, 9, 9);
font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
border-radius: 10px;
}
.ER:hover, .ER:active{
    background-color: rgba(250, 79, 79, 0.888);
    
    color: white;
    border: 3px solid black;
    box-shadow: 4px 4px rgba(219, 41, 41, 0.904);
    transition: 10ms;
}
.Stories{
width: 50vh;
padding-left: 1rem;
padding-right: 0;
border: none;
margin: top 0;;
margin-bottom: 1%;
font-size: 1.2rem;
text-align: center;
text-transform: uppercase;
transition:1s;
background-color: antiquewhite;
border: 3px solid rgb(9, 9, 9);
font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
border-radius: 10px;

}
.Stories:hover, .Stories:active{
    background-color: rgb(139, 48, 145);
    
    color: white;
    border: 3px solid black;
    box-shadow: 4px 4px rgba(76, 30, 79, 1);
    transition: 10ms;
}
.mobileDesplay{
    display: none;}

    
.RoomDe{
    padding: 0.2rem;

    background-color: rgba(250, 79, 79, 0.888);;
    color: white !important;
    font-size: 100%;
    border: 1px solid rgb(255, 255, 255);
    transition: 1s;
    width: 100%;
    opacity: 80%;
    border-radius: 10px;



    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
.RoomDe:hover{
    font-size: 20px;
    transition: 0ms;
}
.HosDe{
        padding-left: 0.5rem;

    background-color: rgba(76, 30, 79, 0.904);
    color: white;
    font-size: 20px;
    width: 100%;
    opacity: 80%;
    border: 3px solid rgb(255, 255, 255);
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
.HosDe:hover{
    font-size: 1.5rem;
    transition: 60ms;

}



#hospitalDropdown{
    
    position: relative;
    display: block;
    background-color:rgba(76, 30, 79, 0.904);
    font-size: 20px;
    border-radius: 10px ;
    color: white;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-color: white;
    transition:1s;
}  
a{ color:rgb(2, 2, 2)

}
a:hover{
    color:antiquewhite;
}



.hosClasses{
 color: srgb(255, 255, 255);    
 font-size: larger;
border-color: white;}



#roomDropdown{
    position: relative;
    display: block;
    background-color:  rgba(250, 79, 79, 0.888);
    font-size: 100%;
    color: white;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-color: white;
    margin-top: 0;
    font-size: 20px;
    border-radius: 10px;
    margin-left: 8px;
    margin-bottom: 5px;
}
.videos .leaflet-popup-content-wrapper{
    width: 600px;
}
.leaflet-popup-content-wrapper{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    color: rgb(76, 30, 79, 1);
    font-weight: 800;
  background-color: rgba(169, 229, 249, 0.5);
    
}
.leaflet-popup-tip{
    background-color: rgba(169, 229, 249, 0.5);
}

.potsClass .leaflet-popup-content-wrapper{
    background-color: rgba(250, 126, 97, 0.5);
   
  
    
}

.potsClass .leaflet-popup-tip{
    background-color:rgba(250, 126, 97, 0.5) ;
}
.childrenCenterPopUp .leaflet-popup-content-wrapper{
    background-color: rgba(245, 217, 146, 0.5);
  
}
.childrenCenterPopUp .leaflet-popup-tip{
    background-color: rgba(245, 217, 146, 0.5);
}
.clinicPopUp .leaflet-popup-content-wrapper{
background-color: rgba(210, 127, 216, .5);
}
.clinicPopUp .leaflet-popup-tip{
background-color: rgba(210, 127, 216, .5);
}
.comuPopUp .leaflet-popup-content-wrapper{
    background-color: rgba(254, 225, 199, 0.904);
}
.comuPopUp  .leaflet-popup-tip {
    background-color:rgba(254, 225, 199, 0.904) ;
}
.baseErrPopUp .leaflet-popup-content-wrapper{
    background-color: rgba(246, 174, 194, 0.9);
}
.baseErrPopUp .leaflet-popup-tip{
    background-color: rgba(246, 174, 194, 0.9);
}
.womenBreakPopup .leaflet-popup-content-wrapper{
    background-color: rgb(75, 205, 241, 0.9);
    
}
.womenBreakPopup .leaflet-popup-tip{
    background-color: rgba(75, 205, 241, 1);
}
.pobulationPopup .leaflet-popup-content-wrapper{
    background-color:rgba(104, 172, 103, 0.9);
}
.pobulationPopup .leaflet-popup-tip{
    background-color: rgba(104, 172, 103, 0.9);
}
.womenCoopPopup .leaflet-popup-content-wrapper{
    background-color: rgba(62, 84, 207, 0.9);
    color: blanchedalmond;
}
 .imageFrame{
    border: 5px solid rgb(76, 30, 79, 1); /* Red border */
    border-radius: 10px;      /* Rounded corners */
    box-shadow: 0 4px 8px rgb(76, 30, 79, 1); /* Optional shadow */
    
 }
  
footer {
    
    border: 0.1rem #000 solid;
    border-left: 0;
    border-right:0;
    text-align: center;
    font-size: 1.5vw; 
    height:auto;
   
    margin-top: auto;
   
    background-color:none;
    margin-bottom: 0%;
}

.cells {
    display: inline-block;
    border-right: 0.5vh #000 solid;
    
    text-align: center;
    color: rgba(244, 244, 244, 0.904);
    
    padding: 0.2vw 0.2vw;
    margin: 0.2vw;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
   
  
}

p:last-child {
  border-right:0;
}

a { text-decoration: none;}
@media only screen 
and (min-device-width : 200px) 
and (max-device-width : 812px) { .container{
    display: none;
    margin-top: 0;
    

}
.body{
    width: 98%;
}
.buttons{
    display: flex;
    flex-flow: column;
    top: 40%;
    font-size: 70%;
    width: 50%;
    gap: 0;
}
.mapDispaly{
    display: inline;
    margin-left: 10%;
   margin-right: 10%;
   margin-bottom: 3px;
   border-radius: 5px;
    
  
}
.header{
    display: flex;
    flex-flow: column;
    width: 100%;
    border-radius: 25px;
    padding: 3px;
    font-size: 32px;

}
.headerText{
    margin-left: 0%;
    margin-top: 0%;
    text-align: center;
   
}
.intro{
    font-size: 100%;
}

.logo{
  display: none;}
.hos span{
    display: none;
}
.hos::after {
    content: "HOSPITALS";
    font-size: 15px;
    font-weight: 600;
   
    margin: 0;
}
.hos{
    width: 50%;
    padding: 1px;
    padding-top: 0;
    text-align: center;
    margin-top: 0px;
    opacity: 80%;
}
.ER span{
    display: none;
}
.ER::after{
    content: "ERR";
    font-size: 15px;
    font-weight: 600;
   
    margin: 0;

}
.ER{
    width: 50%;
    padding: 1px;
    padding-top: 0;
    text-align: center;
    margin-top: 0px;
    opacity: 80%;
}
.Stories{
    display: none;
}

.RoomDe{
    display: none;

}
.HosDe{
    display: none;

}
#roomDropdown{
  
    font-size: 14px;
    width: 50%;
    margin-left: 0;
  
}
#hospitalDropdown{
    
    font-size: 14px;
} 
.leaflet-popup-content-wrapper{
    font-size: 14px;
    text-align: center;
}



footer {
    
    border: 0.1rem #000 solid;
    border-left: 0;
    border-right: 0;
    text-align: center;
    font-size: 14px; 
    height:auto;
   
    margin-top: 0.5vh;
   
    background-color:none;
    margin-right: 1.2vh;
}

.cells {
    display: flex;
    border-right: none;
    
    text-align: center;
    color: antiquewhite;
    
    padding: 0vw 0.2vw;
    margin: 0.5vw;
    
   
  
}



}
